<!DOCTYPE html>
<html>
<head>
    <title>Northwind Tables</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Northwind Tables</h1>
    <ul>
        <% tables.forEach(function(table) { %>
            <li><a href="/<%= table %>"><%= table %></a></li>
        <% }); %>
    </ul>
</body>
</html>
